<header>
  <div class="research">
  
    <nav class="nav nav-masthead justify-content-center ">
      <a class="nav-link <% if (activeTab == 'rarity') { %> active <% } %>" aria-current="page" href="/">Rarity</a>
      <a class="nav-link <% if (activeTab == 'matrix') { %> active <% } %>" href="/matrix">Attributes</a>
      <% if (use_wallet) { %>
      <a class="nav-link <% if (activeTab == 'wallet') { %> active <% } %>" href="/wallet">Wallet</a>
      <% } %>
    </nav>
  </div>
</header>